<body class="dashboard">
  <div class="container extra-pad">
    <div class ="row text-center">
      <div class="col-md-6">
        <div class="panel panel-default">
          <h2>Welcome <%= current_user.first_name %>! <%= link_to(image_tag('settings.png', class: "settings"), edit_user_path(current_user)) %></h2>
          <div class="panel-body bottom-pad">
            <p><%= image_tag current_user.avatar.url(:medium), class:"img-thumbnail" %></p>
            <br>
            <% if current_user.has_events? %>
            <div class="btn-group">
              <button type="button" class="btn btn-default submit-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Your events
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% @presenter.user_events.each do |user_event| %>
                <li><%= link_to "#{user_event.event.name}", event_path(user_event.event) %></li>
                <% end %>
              </div>
            </ul>
            <% end %>
            <div class="btn">
              <%= link_to "Create a new event", new_event_path, class: "btn btn-danger", type: "button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <%= render partial: "map" %>
        </div>
      </div>
    </div>
  </div>
</body>
