<div class="container">
<p> Don’t worry. We’re going to get through this together, one step at a time. Let’s start with what you need. Select as many of the general below categories as you’d like. We’ll get to specifics in a minute.</p>


<%= form_for @event do |f|  %>

<%= f.label "Name Your Event" %>
<%= f.text_field :name %>

<%= f.fields_for @user_event do |u| %>
  <%= u.collection_radio_buttons :role_id, @roles, :id, :name do |u| %>
    <%= u.label %> <%= u.radio_button %>
  <% end %>
<% end %>

<div class="field">
<%= f.label "Categories" %><br>
<%= f.collection_check_boxes :category_ids, @categories, :id, :name do |b| %>
  <div class="collection-check-box">
    <%= b.check_box  %>
    <%= b.label %>
  </div>
<% end %>

<%= f.submit %>
<% end %>

</div>
