<%= javascript_include_tag "fade_form.js" %>

<div class="container extra-pad">
<p> Don’t worry. We’re going to get through this together, one step at a time. Let’s start with what you need. Select as many of the general below categories as you’d like. We’ll get to specifics in a minute.</p>

<%= form_for @event do |f|  %>
<p class="form-inline"><%= f.label "My event should be called" %>:
<%= f.text_field :name, class: "form-control short first", placeholder: "Event Name", id: "event-name" %>
<div class="btn btn-default submit-button fade-out">Continue</div></p>


<%= f.fields_for @user_event do |u| %>
  <p class="form-group second">
    <%= u.label "My role in this event is:" %><br>
    <%= u.collection_radio_buttons :role_id, @roles, :id, :name do |u| %>
    <%= u.radio_button %> <%= u.label %>
  <% end %></p>
<% end %>

<div class="field third">
<%= f.label "I would like help with the following categories:" %><br>
<%= f.collection_check_boxes :category_ids, @categories, :id, :name do |b| %>
  <div class="collection-check-box">
    <%= b.check_box  %>
    <%= b.label %>
  </div>
<% end %>
<br>
<button type="submit" class="btn btn-default submit-button last">Create Event</button>
<% end %>
</div>
