<div class ="container">

<h2>Calendar for: <%= @presenter.parent.first_name %> <%= @presenter.parent.last_name %></h2>
<h5><%= @event.name %></h5>
<p>Hey, <%= current_user.first_name %>! Thanks so much for pitching in. Let’s take a look at <%= @presenter.parent.first_name %> calendar and list of needs. Where can you help? </p>

<div class="row">
  <div class="col-md-6">
  <div class="col-md-6">
    <h4>Needs...</h4>
    <%= select_tag "category", options_from_collection_for_select(@presenter.categories, "id", "name"),  { :include_blank => true , :class => "product_select"} %>

  </div>
</div>

<h4> Your Tasks:</h4>


<h4>Chat:</h4>
</div>
