<!DOCTYPE html>
<html>
<head>
  <title>ItTakesAVillage</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>

<body>
  <%= render partial: "layouts/navbar" %>
       <div class="every-page">
         <% flash.each do |type, message| %>
         <div class="alert alert-<%= type %> alert-dismissible", role: "alert">
         <%#= content_tag :div, sanitize(message), class: "alert alert-#{type} alert-dismissible", role: "alert" do %>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= message %></strong>
        </div>
         <% end %>
      <%= yield %>
    </div>
</body>


</html>
