
<div class="container">

Last step: Let’s put these activities and requests on the calendar! Drag and drop each onto the hour, day, week, or month you need the support.
Last step: Let’s put these activities and requests on the calendar! Tell us the date and time you want these help with each of these tasks.

<% @events_tasks.each do |event_task| %>
<%= form_for :events_task, url: edit_event_patch_path, method: :patch do |f| %>
<%= Task.find(event_task.task.id).name %>
<div class="field">
  <%= f.label :start_time %><br>
  <%= f.text_field :start_time %>
  <%= f.hidden_field :event_id, :value => @event.id %>
  <%= f.hidden_field :event_task_id, :value => event_task.id %>
</div>
<%= f.submit %>
<% end %>
<% end %>

<%#= link_to "See the final event page", parent %>

<% if @meetings != nil %>
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
<% end %>

</div>

<!-- <div id="calendar"></div> -->
