
<div class="container">
Last step: Let’s put these activities and requests on the calendar! Tell us the date and time you want these help with each of these tasks.

<%= form_for :events_task, url: edit_event_patch_path, method: :patch do |f| %>
  <% @events_tasks.each do |event_task| %>
  <%= Task.find(event_task.task.id).name %>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
    <%= f.hidden_field :event_id, :value => @event.id %>
    <%= f.hidden_field :event_task_id, :value => event_task.id %>
  </div>
  <% end %>
<%= f.submit %>
<% end %>

<%#= month_calendar do |date| %>
  <%#= date %>
<%# end %>
<%#= link_to "See the final event page", parent_calendar_path(@event) %>

<% if @meetings != nil %>
<% render partial: "calendar" %>

<% end %>

</div>

<!-- <div id="calendar"></div> -->
